*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background: #2F4F30;
}
.titulo{
    text-align: center; 
    height: 100px; 
}
.titulo h1{
    font-size: 60px;
    font-weight: bold;
    height: 100%;
    line-height: 100px;
    background: black;
    color: white;
}
.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -50px;
}
#computadora-cartas, #jugador-cartas{
    height: 250px;
}
#contenido{
}